/* the styles for the elements */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 990px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 0;
    border: 1px solid black;
}

section, aside, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em;
}
a { font-weight: bold; }
a:link { color: #f2972e; }
a:visited { color: lightblue;}
a:hover, a:focus { color: blue; }
ul { 
    line-height: 1.5; 
    margin-top: 0;
    margin-bottom: 1.5em;
}
li { 
    font-size: 95%;
    padding-bottom: .35em; }
p { 
    font-size: 95%;
    padding-bottom: .5em; }
em { font-weight: bold; }

/* the styles for the header */
header {
    padding-bottom: 2em;
    border-bottom: 2px solid #f2972e;
}
header img { float: left; }
header h2 {
    font-size: 220%;color: #f2972e;
    text-align: left;
    text-shadow: 2px 2px 2px black;
    font-style: italic;
}
header h3 {
        font-size: 130%;
        text-align: left;
        }

section {
    width: 535px;
    margin-left: 20px;
    padding-right: 25px;
    float: right;
}

aside {
    width: 350px;
    float: right;
    padding: 20px;
    background-color: #ffebc6;
    margin-right: 20px;
}

aside h2 {
    font-size: 130%;
    padding-bottom: .5em;
}

aside h3 {
    font-size: 100%;
    color: #931420;
    padding-bottom: .5em;
}
        
        /* the styles for the main content */
        main {
            clear: left;
        }
        
        main h1 {
            font-size: 170%;
        }
        
        main h1:first-child::first-letter {
            font-size: 200%;
        }
        
        main h2 {
            font-size: 130%;
        }
        
        main p.indent {
            text-indent: 2em;
        }
        
        main a.date_passed {
            color: gray;
        }
        
        /* the styles for the footer */
        footer {
            clear: both;
            border-top: 2px solid #f2972e;
            padding-top: .7em;
        }
        footer p {
            font-size: 80%;
            text-align: center;
        }